Projects/xplore/backend/castor-integration/src/main/resources/ProsonaRealestateExchangeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ProsonaRealestateExchangeService.xsd" namespace="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" />
  <xs:element name="GetProsonaSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProsonaSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" minOccurs="0" name="GetProsonaSelectionsResult" nillable="true" type="q1:ArrayOfProsonaPartnerSelection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" minOccurs="0" name="GetPartnerSelectionsResult" nillable="true" type="q2:ArrayOfProsonaPartnerSelection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSelectionToProsona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" minOccurs="0" name="selection" nillable="true" type="q3:ProsonaPartnerSelection" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSelectionToProsonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferSelectionToProsonaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSelectionToPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" minOccurs="0" name="selection" nillable="true" type="q4:ProsonaPartnerSelection" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferSelectionToPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferSelectionToPartnerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProsonaRealestateExchangeService.DataContracts" minOccurs="0" name="GetSelectionResult" nillable="true" type="q5:ProsonaPartnerSelection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSelectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
